html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.inputBox {
  margin: 50px 0 0 0;
}

#input {
  width: 50px;
  height: 35px;
}

#hangedText {
  height: 150px;
  width: 675px;
  margin: 50px auto;
  padding: 100px;
  border: 1px solid black;
}